{{!

This file is part of mod_publication for Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template gradereport_gradinggroups/feedc´back

    Example context (json):
    {
        'student' => fullname($sourceusers[$source[$group]]),
        'teacher' => fullname($origteacher),
        'date' => userdate($sourcegrade->get_dategraded(), get_string('strftimedatetimeshort')),
         'feedback' => $sourcegrade->feedback,
    }

}}
Group grading<br />
+Submission from: <strong>{{student}}</strong><br />
+Graded by: <strong>{{teacher}}</strong><br />
+Original Date/Time: <strong>{{date}}</strong><br />
+Feedback: <strong>{{feedback}}</strong>